<h1><%= @event.name %> Slots</h1>

<% if admin? ||@event.pages.where(title: '_slots').first.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_slots').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <%= link_to 'Add a New Slot', new_event_slot_path(@event), class: 'btn btn-primary' %>
        <% if p = @event.pages.where(title: '_slots').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <% @slots.each do |slot| %>
      <div class="row mb-4 align-items-center">
        <div class="col">
          <%= link_to slot.name, [@event, slot] %>
        </div>
        <div class="col">
          <% slot.sessions.each do |session| %>
            <div>
              <%= link_to session.title, [@event, session] %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
