<h1><%= @slot.name %></h1>

<div class="card">
  <div class="card-body">
    <% @slot.sessions.each do |session| %>
          <div class="row align-items-center mb-2">
            <div class="col">
              <%= link_to session.title, [@event, session] %>
            </div>
            <div class="col">
              <% session.users.each do |user| %>
                <div><%= link_to user.name, event_user_path(@event, user) %></div>
              <% end %>
              <% session.rooms.each do |room| %>
                <div>
                  <%= link_to room.name, [@event, room] %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <% if admin? %>
    <div class="card-footer d-flex justify-content-between">
      <%= link_to 'Edit Slot', edit_event_slot_path(@event, @slot), class: 'btn btn-warning' %>
      <%= link_to 'Delete Slot', [@event, @slot], confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
