<%= form_with(model: [@event, session], local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>
      <ul>
        <% session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Public Information</h2>
        </div>
        <div class="card-body">
          <div class="form-row mb-3">
            <div class="col-2">
              <%= form.label :title %>
            </div>
            <div class="col-6">
              <%= form.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <%= form.rich_text_area :description %>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Put any links to slides or other resources that people might find useful after your session here.</p>
              <%= form.rich_text_area :links %>
            </div>
            <div class="col-md-6">
              <p>
                Want to change who the schedule says is presenting this session? Put it here.
              </p>
              <%= form.text_field :presenter_override, class: 'form-control', placeholder: 'Presenter Override' %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2>Organizer/Presenter Notes</h2>
        </div>
        <div class="card-body">
          <p>This information will only be displayed to the conference organizers and the presenters attached to this session.</p>
          <%= form.rich_text_area :organizer_notes %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2>Tracks</h2>
        </div>
        <div class="card-body">
          <%= hidden_field_tag 'session[track_ids][]', '' %>
          <% @event.tracks.order(:label).each do |track| %>
            <div class="row">
              <div class="col-1">
                <%= check_box_tag "session[track_ids][]", track.id, @session.tracks.include?(track) %>
              </div>
              <div class="col">
                <%= track_badge(track) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if admin? %>
    <div class="row mt-3">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h2>Slot Assignments</h2>
          </div>
          <div class="card-body">
            <%= hidden_field_tag 'session[slot_ids][]', '' %>
            <% @event.slots.order(:starts_at).each do |slot| %>
              <div class="row">
                <div class="col-1">
                  <%= check_box_tag "session[slot_ids][]", slot.id, @session.slots.include?(slot) %>
                </div>
                <div class="col">
                  <%= slot.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h2>Room Assignments</h2>
          </div>
          <div class="card-body">
            <%= hidden_field_tag 'session[room_ids][]', '' %>
            <% @event.rooms.order(:name).each do |room| %>
              <div class="row">
                <div class="col-1">
                  <%= check_box_tag "session[room_ids][]", room.id, @session.rooms.include?(room) %>
                </div>
                <div class="col">
                  <%= room.name %> [<%= room.capacity %>]
                  <% room.tracks.each do |track| %>
                    <%= track_badge track %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h2>Presenters</h2>
          </div>
          <div class="card-body">
            <%= hidden_field_tag 'session[user_ids][]', '' %>
            <% User.order(:last_name, :first_name).each do |user| %>
              <div class="row">
                <div class="col-1">
                  <%= check_box_tag "session[user_ids][]", user.id, @session.users.include?(user) %>
                </div>
                <div class="col">
                  <%= user.last_name %>, <%= user.first_name %> [<%= user.email %>]
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-row mt-3">
    <div class="col">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
