<% if admin? ||@event.pages.where(title: '_grid').first&.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_grid').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <% if p = @event.pages.where(title: '_grid').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card" style="width: 100%; overflow-x: scroll;">
  <div class="card-body text-center">

    <table class="table table-bordered table-sm text-dark">
      <thead class="thead">
        <tr>
          <th></th>
          <% @event.rooms.order(:name).all.to_a.delete_if{|x| !x}.each do |room| %>
            <th>
              <% if admin? %>
                [<%= room.capacity %>]
              <% end %>
              <strong><%= room.name %></strong>
              <div>
                <% room.tracks.each do |track| %>
                  <%= track_badge track %>
                <% end %>
              </div>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.slots.order(:starts_at).all.each do |slot| %>
          <tr height="1">
            <td>
              <div style="width: 10vw;"><%= slot.name %></div>
            </td>
            <% @event.rooms.order(:name).all.to_a.delete_if{|x| !x}.each do |room| %>
              <td style="height: inherit;">
                <% room.sessions.merge(slot.sessions).where(approved: true).each do |session| %>
                  <div style="min-width: 12vw; width: 100%; text-align: center; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <%= link_to session.title, [@event, session] %>
                    <div class="small">
                      <% if session.tracks.present? %>
                        <div>
                          <% session.tracks.each do |track| %>
                            <%= track_badge track %>
                          <% end %>
                        </div>
                      <% end %>
                      <%= if session.presenter_override.present?
                            session.presenter_override
                          else
                            session.users.map {|s| s.name }.join(', ') 
                          end
                        %>
                  </div>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
let tables = []
$(function() {
  $('table').each( ((xi, table) => {
    tables.push([])
      $(table).find('tr').each( (ri, tr) => {
        tables[xi].push([]);
        let tds = $(tr).find('td');
        for(let i=0; i<tds.length; i++) {
          tables[xi][ri].push(tds[i]);
        }
        for(let i=0; i<tds.length-1; i++) {
          let row = 1;
          let start = i;
          while(tds[i] && tds[i+1] &&
              tds[i].innerHTML == 
              tds[i+1].innerHTML &&
              tds[i].innerHTML.trim() != "" && 
              i < tds.length-1
              ) {
            row++;
            i++;
            $(tds[i]).remove();
          }
          if(row > 1) {
            $(tds[start]).attr('colspan', row);
          }
        }
      });
  }));

  tables.forEach( (t) => {
    let cols = t[2].length;
    console.log(cols);

    for(let col=0; col < cols; col++) {
      let r = 1;
      let start = 1;
      for(let i=0; i<t.length-1; i++) {
        console.log(t[i][col], t[i+1][col]);
        while(t[i][col] && 
            t[i] &&
            t[i+1] &&
            t[i+1][col] && 
            t[i+1][col].innerHTML && 
            t[i][col].innerHTML == t[i+1][col].innerHTML && 
            t[i][col].innerHTML.trim() != "") {
          r++;
          i++;
          //t[i][col].remove();
          console.log('remove', t[i][col])
        }
        if(r > 1) {
          //$(t[start][col]).attr('rowspan', r);
        }
      }
    }

  });
})
</script>
