<h1><%= @event.name %> Sessions</h1>

<% if admin? ||@event.pages.where(title: '_sessions').first.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_sessions').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <%= link_to 'Add a New Session', new_event_session_path(@event), class: 'btn btn-primary' %>
        <% if p = @event.pages.where(title: '_sessions').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if !admin? && @event.open %>
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-right">This event is currently accepting session proposals!</div>

        <div class="col-md-6">
          <% if current_user %>
            <%= link_to 'Submit a New Proposal', new_event_session_path(@event), class: 'btn btn-info' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Create an Account', new_user_registration_path %> to submit a proposal!
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <% @sessions.each do |session| %>
      <div class="row mb-4 align-items-center">
        <div class="col">
          <% if admin? %>
            <% if session.approved %>
              <% if session.slots.count > 0 && session.rooms.count > 0 && session.users.count > 0 %>
                <i class="fas fa-check-circle"></i>
              <% else %>
                <i class="text-warning fas fa-question-circle"></i>
              <% end %>
            <% else %>
              <i class="text-danger fas fa-times-circle"></i>
            <% end %>
            &nbsp;
          <% end %>
          <%= link_to session.title, [@event, session] %>
          <% if session.tracks.present? %>
            <div>
              <% session.tracks.each do |track| %>
                <%= track_badge track %>
              <% end %>
            </div>
          <% end %>
          <%= session.description %>
        </div>
        <div class="col">
        <% if session.presenter_override.present? %>
            <%= session.presenter_override %>
        <% else %>
          <% session.users.each do |user| %>
            <div><%= link_to user.name, event_user_path(@event, user) %></div>
          <% end %>
        <% end %>
          <% if @event.scheduled %>
            <% session.slots.each do |slot| %>
              <div><%= link_to slot.name, [@event, slot] %></div>
            <% end %>
            <% session.rooms.each do |room| %>
              <div><%= link_to room.name, [@event, room] %></div>
            <% end %>
          <% end %>
          <% if @event.shared %>
            <%= session.links %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
