<h1><%= @session.title %></h1>

<div class="row">
  <div class="col-4">
    <div class="card <%= @session.approved ? '' : 'bg-danger' %>">
      <div class="card-body">
        <% if @session.approved %>
          <h3>Time</h3>
          <% if @session.slots.present? && (@event.scheduled || admin?) %>
            <ul>
              <% @session.slots.each do |slot| %>
                <li><%= link_to slot.name, [@event, slot] %></li>
              <% end %>
            </ul>
          <% else %>
            Not scheduled yet.
          <% end %>

          <h3>Room</h3>
          <% if @session.rooms.present? && (@event.scheduled || admin?) %>
            <ul>
              <% @session.rooms.each do |room| %>
                <li><%= link_to room.name, [@event, room] %></li>
              <% end %>
            </ul>
          <% else %>
            Not placed yet.
          <% end %>
        <% else %>
          <p>This session has not been approved yet!</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <% if @session.live? %>
      <%= @session.rooms.first.embed_code.html_safe %>
    <% else %>
      <div class="card">
        <div class="card-body">
          <% if @session.tracks.present? %>
            <div>
              <% @session.tracks.each do |track| %>
                <%= track_badge track %>
              <% end %>
            </div>
          <% end %>
          <%= @session.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row my-3">
  <% if @session.live? %>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= @session.description %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-<%= @session.live? ? '6' : '12' %>">
    <div class="card">
      <div class="card-header">
        <h2>Presenters</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <% if @session.presenter_override.present? %>
              <div class="col-12">
                <%= @session.presenter_override %>
              </div>
          <% else %>
            <% @session.users.each do |user| %>
              <div class="col-4">
                <h4><%= link_to "#{user.first_name} #{user.last_name}", event_user_path(@event, user) %></h4>
                <%= user.profile %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if admin? || @session.users.include?(current_user) %>
  <div class="card">
    <div class="card-header">
      <h2>Tools</h2>
    </div>
    <div class="card-body">
      <h3>Internal Notes</h3>
      <%= @session.organizer_notes %>
    </div>
    <div class="card-footer">
      <% if admin? %>
        <% if @session.approved %>
          <%= link_to 'Revoke Approval', revoke_event_session_path(@event, @session), class: 'btn btn-danger', method: :post %>
        <% else %>
          <%= link_to 'Approve Session', approve_event_session_path(@event, @session), class: 'btn btn-success', method: :post %>
          <%= link_to 'Delete Session', event_session_path(@event, @session), method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?' %>
        <% end %>
      <% end %>

      <%= link_to 'Edit Session', edit_event_session_path(@event, @session), class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
