<%= form_with(model: [@event, track], local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-row mb-3">
        <div class="col-2">
          <%= form.label :label %>
        </div>
        <div class="col-6">
          <%= form.text_field :label, class: 'form-control' %>
        </div>
        <div class="col-2">
          <%= form.label :color %>
        </div>
        <div class="col-2">
          <%= form.text_field :color, class: 'form-control' %>
        </div>
      </div>

      <%= form.rich_text_area :description %>

      <div class="form-row mt-3">
        <div class="col">
          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
