<h1><%= @event.name %> Tracks</h1>

<% if admin? ||@event.pages.where(title: '_tracks').first.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_tracks').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <%= link_to 'Add a New Track', new_event_track_path(@event), class: 'btn btn-primary' %>
        <% if p = @event.pages.where(title: '_tracks').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <% @tracks.each do |track| %>
      <div class="row mb-4">
        <div class="col">
          <%= link_to track_badge(track), [@event, track] %>
        </div>
        <div class="col">
          <% track.sessions.where(approved: true).each do |session| %>
            <div>
              <%= link_to session.title, [@event, session] %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

