<h1><%= track_badge(@track) %></h1>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= @track.description %>
      </div>
      <% if admin? %>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Edit Track', edit_event_track_path(@event, @track), class: 'btn btn-warning' %>
          <%= link_to 'Delete Track', [@event, @track], confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <% @track.sessions.where(approved: true).each do |session| %>
          <div class="row align-items-center mb-2">
            <div class="col">
              <%= link_to session.title, [@event, session] %>
            </div>
            <div class="col">
              <% session.users.each do |user| %>
                <div><%= link_to user.name, event_user_path(@event, user) %></div>
              <% end %>
              <% if @event.scheduled %>
                <% session.slots.each do |slot| %>
                  <div>
                    <%= link_to slot.name, [@event, slot] %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
