<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Your Account Details</h2>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <%= f.label :email %>
            </div>
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :first_name %>
            </div>
            <div class="col">
              <%= f.text_field :first_name, autocomplete: 'given-name', class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :last_name%>
            </div>
            <div class="col">
              <%= f.text_field :last_name, autocomplete: 'family-name', class: 'form-control' %>
            </div>
          </div>
          <% if resource.persisted? %>
            <div class="form-row">
              <p>Want to change your password?</p>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :password %>
              </div>
              <div class="col">
                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col">
                <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>
            <div class="form-row mt-4">
              <p>Enter your current password to confirm your changes.</p>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :current_password %>
              </div>
              <div class="col">
                <%= f.password_field :current_password, autocomplete: 'password', class: 'form-control' %>
              </div>
            </div>
          <% else %>
            <div class="form-row">
              <div class="col">
                <%= f.label :password %>
              </div>
              <div class="col">
                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col">
                <%= f.password_field :password_confirmation, autocomplete: 'password', class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <div class="form-row mt-4">
            <div class="col-8 mx-auto">
              <%= f.submit 'Save', class: 'btn btn-block btn-success' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Your Profile</h2>
        </div>
        <div class="card-body">
          <p class="small">
            This will show along with any sessions you're assigned to - keep it short! 
          </p>
          <%= f.rich_text_area :profile %>
        </div>
      </div>
    </div>
  </div>
<% end %>
