<h2>Edit Your Account</h2>

<%= render 'form' %>

<br>

<div class="card">
  <div class="card-header">
    <h3>Cancel Your Account</h3>
  </div>
  <div class="card-body">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
  </div>
</div>
