<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">FINForums</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if @event.present? && @event.persisted? %>
        <li class="nav-item">
          <%= link_to @event.name, @event, class: 'nav-link' %>
        </li>
        <% if (@event.published && @event.pages.publishable.present?) || admin? %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-file"></i> Event Information
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @event.pages.each do |page| %>
              <%= link_to page.title, [@event, page], class: 'dropdown-item' if page.persisted? && page.title[0] != '_' %>
            <% end %>
            <% if admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Manage Pages', event_pages_path(@event), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      <% end %>

      <% if @event.scheduled || admin? %>
        <li class="nav-item">
          <%= link_to grid_event_sessions_path(@event), class: 'nav-link' do %>
            <i class="fas fa-grip-horizontal"></i> Schedule
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to event_rooms_path(@event), class: 'nav-link' do %>
            <i class="fas fa-door-open"></i> Rooms
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to event_slots_path(@event), class: 'nav-link' do %>
            <i class="fas fa-clock"></i> Slots
          <% end %>
        </li>
      <% end %>
      <% if @event.scheduled || @event.published || admin? %>
        <li class="nav-item">
          <%= link_to event_users_path(@event), class: 'nav-link' do %>
            <i class="fas fa-user"></i> Presenters
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to event_tracks_path(@event), class: 'nav-link' do %>
            <i class="fas fa-layer-group"></i> Tracks
          <% end %>
        </li>
      <% end %>

      <% if (@event.open && current_user) || @event.published || @event.scheduled || admin? %>
        <li class="nav-item">
          <%= link_to event_sessions_path(@event), class: 'nav-link' do %>
            <i class="fas fa-clipboard-list"></i> <%= @event.scheduled || @event.published ? "Sessions" : "Proposals"%>
          <% end %>
        </li>
      <% end %>


      <% else %>
        <li class="nav-item">
          <%= link_to 'Current Events', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Archived Events', root_path(archived: true), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log Out', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
