<%= form_with(model: [@event, presenter], local: true) do |f| %>
  <% if presenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presenter.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% presenter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Account Details</h2>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <%= f.label :email %>
            </div>
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :first_name %>
            </div>
            <div class="col">
              <%= f.text_field :first_name, autocomplete: 'given-name', class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :last_name %>
            </div>
            <div class="col">
              <%= f.text_field :last_name, autocomplete: 'family-name', class: 'form-control' %>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="form-row">
              <div class="col">
                <%= f.label :admin %>
              </div>
              <div class="col">
                <%= f.select :admin, [true, false], class: 'form-control' %>
              </div>
            </div>
          <% end %>

          <% if presenter.persisted? %>
            <div class="form-row">
              <p>Want to change your password?</p>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :password %>
              </div>
              <div class="col">
                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col">
                <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>
            <div class="form-row mt-4">
              <p>Enter your current password to confirm your changes.</p>
            </div>
            <div class="form-row">
              <div class="col">
                <%= f.label :current_password %>
              </div>
              <div class="col">
                <%= f.password_field :current_password, autocomplete: 'password', class: 'form-control' %>
              </div>
            </div>
          <% else %>
            <div class="form-row">
              <div class="col">
                <%= f.label :password %>
              </div>
              <div class="col">
                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col">
                <%= f.password_field :password_confirmation, autocomplete: 'password', class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <div class="form-row mt-4">
            <div class="col-8 mx-auto">
              <%= f.submit 'Save', class: 'btn btn-block btn-success' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Your Profile</h2>
        </div>
        <div class="card-body">
          <p class="small">
            If you're a presenter, this will be displayed along with any sessions you're assigned to! 
          </p>
          <%= f.rich_text_area :profile %>
        </div>
      </div>
    </div>
  </div>


<% end %>
