<h1>All Users</h1>

<div class="card">
  <div class="card-body">
    <% @users.each do |user| %>
      <div class="row mb-4 align-items-center">
        <div class="col">
        <%= user.first_name %> <%= user.last_name %>
        </div>
        <div class="col">
          <%= user.email %>
        </div>
        <div class="col">
          <%= button_to 'Delete', delete_user_path(user), method: 'DELETE', class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
