<h1><%= @event.name %> Presenters</h1>

<% if admin? ||@event.pages.where(title: '_presenters').first.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_presenters').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <% if p = @event.pages.where(title: '_presenters').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <% @users.each do |user| %>
      <div class="row mb-4 align-items-center">
        <div class="col">
          <%= link_to "#{user.first_name} #{user.last_name}", event_user_path(@event, user) %>
        </div>
        <div class="col">
          <% user.sessions.where(event: @event, approved: true).each do |session| %>
            <div>
              <%= link_to session.title, [@event, session] %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
