<table>
  <tbody>
    <% last = nil %>
    <% @users.each do |user| %>
      <% user.sessions.where(event: @event, approved: true).each do |session| %>
        <tr>
          <td>
            <%= "#{user.first_name} #{user.last_name}" if last != user %>
          </td>
          <td>
            <%= user.email if last != user %>
          </td>
          <td>
            <%= session.title %>
          </td>
          <td>
            <%= session.rooms.map(&:name).join(', ') %>
          </td>
          <td>
            <%= session.slots.map(&:name).join(', ') %>
          </td>
          <% last = user %>
      <% end %>
    <% end %>
  </tbody>
</table>

