<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= @user.profile %>
      </div>
      <% if admin? %>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Edit Presenter', edit_event_user_path(@event, @user), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <% @user.sessions.where(event: @event, approved: true).each do |session| %>
          <div class="row align-items-center mb-2">
            <div class="col">
              <%= link_to session.title, [@event, session] %>
            </div>
            <% if @event.scheduled %>
              <div class="col">
                <% session.rooms.each do |room| %>
                  <div>
                    <%= link_to room.name, [@event, room] %>
                  </div>
                <% end %>
                <% session.slots.each do |slot| %>
                  <div>
                    <%= link_to slot.name, [@event, slot] %>
                  </div>
                <% end %>
              </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
