<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-2">
          <%= form.label :name %>
        </div>
        <div class="col-6">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-2">
          <%= form.label :slug, 'URL Slug' %>
        </div>
        <div class="col-2">
          <%= form.text_field :slug, class: 'form-control' %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <%= form.label :open, 'Submissions Open' %>
        </div>
        <div class="col-1">
          <%= form.check_box :open %>
        </div>
        <div class="col-2">
          <%= form.label :open, 'Publish Information' %>
        </div>
        <div class="col-1">
          <%= form.check_box :published %>
        </div>
        <div class="col-2">
          <%= form.label :open, 'Publish Schedule' %>
        </div>
        <div class="col-1">
          <%= form.check_box :scheduled %>
        </div>
        <div class="col-2">
          <%= form.label :shared, 'Share Links' %>
        </div>
        <div class="col-1">
          <%= form.check_box :shared %>
        </div>

      </div>

    <%= form.rich_text_area :description %>

  <div class="actions mt-3">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
    </div>
  </div>
<% end %>
