<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<p class="mt-5">
  <% if @event.archived %>
    <%= link_to "Un-archive this Event", unarchive_event_path(@event), class: 'text-info'%>
  <% else %>
    <%= link_to "Archive this Event", archive_event_path(@event), class: 'text-danger'%>
  <% end %>
</p>