<h1>Events</h1>

<% @events.each do |event| %>
  <div class="card mb-4">
    <div class="card-body">
      <%= link_to event do %>
        <h2><%= event.name %></h2>
      <% end %>
      <%= event.description %>
    </div>
  </div>
<% end %>
<% if admin? %>
  <br><br>
  <%= link_to 'New Event', new_event_path %>
<% end %>
