<h1><%= @event.name %></h1>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <% if @event.open %>
          <p>This event is currently accepting session proposals!</p>

          <p>
            <% if current_user %>
              <%= link_to 'Submit a New Proposal', new_event_session_path(@event) %> or <%= link_to 'View and Manage Proposals', event_sessions_path(@event) %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Create an Account', new_user_registration_path %> to submit a proposal!
            <% end %>
          </p>
        <% end %>
        <% if @event.scheduled || @event.published || admin? %>
          <div class="d-flex-column text-center">
            <% if @event.scheduled || admin?  %>
              <div class="mb-3">
                <%= link_to event_rooms_path(@event) do %>
                  <div class="huge">
                    <%= @event.rooms.count %>
                  </div>
                  <div>
                    <i class="fas fa-door-open"></i> <%= @event.rooms.count == 1 ? 'Room' : 'Rooms' %>
                  </div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= link_to event_slots_path(@event) do %>
                  <div class="huge">
                    <%= @event.slots.count %>
                  </div>
                  <div>
                    <i class="fas fa-clock"></i> <%= @event.slots.count == 1 ? 'Slot' : 'Slots' %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="mb-3">
              <%= link_to event_users_path(@event) do %>
                <div class="huge">
                  <%= @event.users.uniq.count %>
                </div>
                <div>
                  <i class="fas fa-user"></i> <%= @event.users.uniq.count == 1 ? 'Presenter' : 'Presenters' %>
                </div>
              <% end %>
            </div>
            <div class="mb-3">
              <%= link_to event_tracks_path(@event) do %>
                <div class="huge">
                  <%= @event.tracks.count %>
                </div>
                <div>
                  <i class="fas fa-layer-group"></i> <%= @event.tracks.count == 1 ? 'Track' : 'Tracks' %>
                </div>
              <% end %>
            </div>

            <div class="mb-3">
              <%= link_to event_sessions_path(@event) do %>
                <div class="huge">
                  <%= @event.sessions.where(approved: true).count %>
                </div>
                <div>
                  <i class="fas fa-clipboard-list"></i> <%= @event.sessions.where(approved: true).count == 1 ? 'Session' : 'Sessions' %>
                </div>
              <% end %>
            </div>

            <% if @event.scheduled || admin? %>
            <div class="mb-3">
            <%= link_to grid_event_sessions_path(@event) do %>
              <div class="huge">
                <i class="fas fa-grip-horizontal"></i>
              </div>
              <div>
                Event Schedule
              </div>
            <% end %>
            </div>
            <% end %>

          </div>
        <% else %>
          <p><em>The schedule &amp; session information for this event has not been published yet. Please check back later!</em></p>
        <% end %>

      </div>
      <% if admin? %>
        <div class="card-footer">
          <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card mb-5">
      <div class="card-body">
        <%= @event.description %>
      </div>
    </div>
  </div>
</div>
