<%= form_with(model: [@event, page], local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-row mb-3">
        <div class="col">
          <%= form.label :title %>
        </div>
        <div class="col">
          <%= form.text_field :title, class: 'form-control' %>
        </div>
      </div>

      <%= form.rich_text_area :content %>

      <div class="form-row mt-3">
        <div class="col">
          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
