<h1>Pages</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
    <% @pages.each do |page| %>
      <div class="col">
        <%= link_to page.title, [@event, page] %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Create New Page", new_event_page_path(@event), class: 'btn btn-primary' %>
  </div>
</div>
