<h1><%= @page.title %></h1>

<div class="card">
  <div class="card-body">
    <%= @page.content %>
  </div>
  <% if admin? %>
    <div class="card-footer d-flex justify-content-between">
      <%= link_to 'Edit Page', edit_event_page_path(@event, @page), class: 'btn btn-warning' %>
      <%= link_to 'Delete Page', [@event, @page], confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
