<h2>Log In</h2>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Do I Need an Account?</h2>
      </div>
      <div class="card-body">
        <p>
        If you just want to get the information and session schedules for events, you don't need to sign up!
        You only need an account if you are submitting a session proposal or managing an event. 
        </p>
      </div>
      <div class="card-footer">
        <%= link_to 'Create an Account', new_user_registration_path, class: 'btn btn-success ml-auto' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-header">
          <h2>Log In</h2>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <%= f.label :email %>
            </div>
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :password %>
            </div>
            <div class="col">
              <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
            </div>
          </div>
        </div>

        <p>
          Forgot your password? Having other technical difficulties? <a href="mailto:bthompson@indianafirst.org">Email Brad!</a>
        </p>
        <div class="card-footer d-flex justify-content-between">
          <%= f.submit 'Log In', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
