<%= form_with(model: [@event, room], local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-row mb-3">
        <div class="col-2">
          <%= form.label :name %>
        </div>
        <div class="col-6">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-2">
          <%= form.label :capacity %>
        </div>
        <div class="col-2">
          <%= form.number_field :capacity, class: 'form-control' %>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-2">
          <%= form.label :embed_code %>
        </div>
        <div class="col-10">
          <%= form.text_field :embed_code, class: 'form-control' %>
        </div>
      </div>

      <%= form.rich_text_area :description %>

      <%= hidden_field_tag 'room[track_ids][]', '' %>
      <% @event.tracks.order(:label).each do |track| %>
        <div class="row">
          <div class="col-1">
            <%= check_box_tag "room[track_ids][]", track.id, @room.tracks.include?(track) %>
          </div>
          <div class="col">
            <%= track_badge(track) %>
          </div>
        </div>
      <% end %>

      <div class="form-row mt-3">
        <div class="col">
          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
