<h1><%= @event.name %> Rooms</h1>

<% if admin? ||@event.pages.where(title: '_rooms').first.content.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <% if p = @event.pages.where(title: '_rooms').first %>
        <%= p.content %>
      <% end %>
    </div>
    <% if admin? %>
      <div class="card-footer">
        <%= link_to 'Add a New Room', new_event_room_path(@event), class: 'btn btn-primary' %>
        <% if p = @event.pages.where(title: '_rooms').first %>
          <%= link_to 'Edit Content Page', edit_event_page_path(@event, p), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <% @rooms.each do |room| %>
      <div class="row mb-4">
        <div class="col">
          <%= link_to room.name, [@event, room] %>
          <% if room.tracks.present? %>
            <div>
              <% room.tracks.each do |track| %>
                <%= track_badge track %>
              <% end %>
            </div>
          <% end %>
          <%= room.description %>
        </div>
        <div class="col">
          <% room.sessions.where(approved: true).each do |session| %>
            <div>
              <%= link_to session.title, [@event, session] %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

