<h1><%= @room.name %></h1>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <% if @room.tracks.present? %>
          <div>
            <% @room.tracks.each do |track| %>
              <%= track_badge track %>
            <% end %>
          </div>
        <% end %>
        <%= @room.description %>
      </div>
      <% if admin? %>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Edit Room', edit_event_room_path(@event, @room), class: 'btn btn-warning' %>
          <%= link_to 'Delete Room', [@event, @room], confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <% if @room.embed_code.present? %>
      <div class="card dontexpand mb-3">
        <div class="card-body">
          <%= @room.embed_code.html_safe %>
        </div>
      </div>
    <% end %>
    <div class="card dontexpand">
      <div class="card-body">
        <% @room.sessions.each do |session| %>
          <div class="row align-items-center mb-2">
            <div class="col">
              <%= link_to session.title, [@event, session] %>
            </div>
            <div class="col">
              <% session.users.each do |user| %>
                <div><%= link_to user.name, event_user_path(@event, user) %></div>
              <% end %>
              <% session.slots.each do |slot| %>
                <div>
                  <%= link_to slot.name, [@event, slot] %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
