/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$body-bg: #111;
$body-color: #f0f0f0;

@import 'bootstrap';
@import 'actiontext';

@page {
  size: auto;
}

.navbar {
  margin-bottom: 1rem;
}

hr {
  border-top: thin solid #555;
}

.card {
  color: #111;
  height: 100%;
  @extend .flex-fill;

  &.dontexpand {
    height: auto;
    flex-grow: auto;
    flex-shrink: auto;
  }
}

.row {
  align-items: stretch;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.huge {
  font-size: 500%;
  line-height: 1.0;
}

trix-toolbar {
  .trix-button-row {
    flex-wrap: wrap;
  }

  .trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: 2rem;
  }

  .trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: 0;
  }
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.85rem;
  color: #bbb;
}
