<!DOCTYPE html>
<html>
  <head>
    <title><%= @event.present? ? "#{@event.name}, powered by " : '' %>FINForums</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <%= render partial: 'partials/navbar' %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <div class="footer">
      <a href="https://gitlab.com/bkt/finforums">FINForums</a> is an open source project managed by <a href="https://brad-thompson.com">Brad Thompson</a> and hosted by <a href="https://westside-robotics.info">Westside Robotics</a>.
    </div>
    <script>
$(function () {
    $('[data-toggle="popover"]').popover()
    $('[data-toggle="tooltip"]').tooltip()
})
    </script>
  </body>
</html>
