<!DOCTYPE html>
<html>
  <head>
    <title><%= @event.present? ? "#{@event.name}, powered by " : '' %>FINForums</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <%= render partial: 'partials/navbar' %>
    <div class="container-fluid">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
